body > section > header > section > div > div > nav > a {
    font-size: 30px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

body > section > header > section > div > div > nav {
    padding-bottom: 0px !important;
    margin-left: 10px;
    margin-right: 10px;
}

#navbarSupportedContent > ul li a {
    margin-bottom: 0px !important;
}

#navbarSupportedContent > ul li a:hover {
    color: rebeccapurple;
}

#navbarSupportedContent > ul li {
    padding-left: 0px !important;
}